<% include header %>

  <div class = "alertBox">
    <h3 id="alertText" align="center">조작법: 방향키</h3>
  </div>

  <div class = "pannel">

    <div class="house" id="house1" style="left : 200px;top: 200px;" name="히워니">
      <div class="roof" style="background: indianred"></div>
      <div class="wall" style="background: lightseagreen"></div>
      <div class="door" style="background: saddlebrown"></div>
    </div>

    <div class="house" id="house2" style="left : 500px;top: 200px;" name="이유">
      <div class="roof" style="background: dodgerblue"></div>
      <div class="wall" style="background: darkslateblue"></div>
      <div class="door" style="background: steelblue"></div>
    </div>


    <div class="object" id="movingObject" style="left : 50px;top: 180px;"></div>

  </div>
<% include footer %>
